[package]
name = "node-db"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "swap"
path = "example/swap.rs"

[[bin]]
name = "quote"
path = "example/quote.rs"

[[bin]]
name = "custom-slot"
path = "example/custom_slot.rs"

[[bin]]
name = "custom-account"
path = "example/custom_account.rs"

[[bin]] 
name = "approval"
path = "example/approval.rs"

[dependencies]
anyhow = "1.0.90"
eyre = "0.6.12"
reth = {git = "https://github.com/paradigmxyz/reth", rev = "1ba631b" }
reth-db = {git = "https://github.com/paradigmxyz/reth", package = "reth-db", rev = "1ba631b"}
reth-chainspec = {git = "https://github.com/paradigmxyz/reth", package = "reth-chainspec", rev = "1ba631b" }
reth-node-ethereum = {git = "https://github.com/paradigmxyz/reth", package = "reth-node-ethereum", rev = "1ba631b" }

tokio = { version = "1.40.0", features = ["full"] }
futures = "0.3.31"
dotenv = "0.15.0"
env_logger = "0.11.5"
log = "0.4.22"
alloy = { version = "0.7", features = ["contract", "dyn-abi"] }
revm = { version = "19.5.0", features = ["alloydb"] }
foldhash = "0.1.3"

